* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* ----- -------- Body ----------- */

body {
  height:100vh;
  display:grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px 1fr;
  font-family:'Open Sans', sans-serif;
}

/* ------------- Header --------- */ 

header {
  background-color: #1F1F3D;
  grid-column:1/ span 2; 
  grid-row: 1; 
  justify-content:space-between;
  font-family:Open Sans;
  font-weight: 800;
  display:flex
}

header input{
  height:35px;
  width:220px;
  margin:20px 15px;
}

h1 {
  color:#ffffff;
  width:300px;
  margin-left:10px
}

span {
  color:#FEC40E;
}

/* ------------- Main ----------- */
main {
  /* display:flex; */
  height:100%;
  background-color:#f3f6f7;
  width:100%;
  grid-column:2
}

h3 {
  font-size:.9em;
  margin:6px;
}

.list__section__container {
  column-width: 13em; 
}

.inactive__card {
  display:flex;
  flex-flow: column;
  border:1px solid #c7d3d8;
  color:#1f1f3d;
  width:40%;
  margin:20px;
}

.card__header {
  border-bottom:1px solid #c7d3d8;
}

.card__middle {
  min-height:150px;
  margin:10px;
}

.card__footer {
  display:flex;
  justify-content: space-between;
  height:30px;
  border-top: solid 1px #c7d3d8;
  padding:4px;
  width: 100%
}

.card__footer__images{
  width:25px;
  color:#3c6577;
}
/* ------------- Aside ---------- */
aside {
  background-color:#59798B;
  padding:10px;
  grid-column:1; 
}

label {
  font-weight:400;
  margin-bottom:4px;
  font-size:.8em;
  color: #c7d3d8;
}

.task__title__wrapper {
  display:flex; 
  justify-content:center;
  height:35px;
  margin-top:10px
}

.aside__form--input{
  display:flex;
  flex-direction:column;
  margin-top:20px;
  
}

.input__aside--task {
  height:40px;
  width:100%;
  border:1px solid #1F1F3D
}

.input__task__item {
  display:inline-flex 
}

.btn__aside__task--append {
  height:40px;
  background-color:#1f1f3d
}

.btn__aside--task {
  background-color:#1f1f3d;
  color:#ffffff;
  height:40px;
  border: 1px solid #1F1F3D;
  margin:10px 0px
}
.btn--list--filter {
  margin-top:40px;
  width:100%;
}

.aside__bottom {
  border-top:1px solid #1F1F3D
}

.insert__aside--text {
  color:#ffffff;
  align-self: center;
  color: #fff;
  flex-flow: row;
  font-size: 18px;
  margin: 0px;
  padding-left: 5px;
}

.insert__aside--task {
  list-style-type: none;
  display:flex;
  width:20px;
  margin:5px;
}

.insert__aside--btn {
  align-self: baseline;
  flex-flow: row;
  height: 26px;
  margin-left: 7%;
}

.insert__aside__container {
  margin-bottom:17px;
  overflow:auto;
}

.list__section__container {
  display:flex
}

.input__aside--title {
  width:100%;
  border: 1px solid #1F1F3D;
  height:40px;
}

.list__section__container {
  flex-wrap:wrap;
}

.input__task__item {
  width:100%;
}

.delete__card__item {
  height:15px;
  margin-right:5px;
}