* {
  box-sizing: border-box;
  border: 1px solid red;
}
/* ----- -------- Body ----------- */
body {
  height:100vh;
  font-family:'Open Sans', sans-serif;
}
/* ------------- Header --------- */ 
header {
  background-color: #1F1F3D;
  display:flex;
  justify-content:space-between;
  font-family:Open Sans;
  font-weight: 800;
  height:10%; 
}

header input{
  height:30px;
  width:220px;
  margin:20px 15px;
}

h1 {
  color:#ffffff;
  width:300px;
  margin-left:10px
}

span {
  color:#FEC40E;
}

/* ------------- Main ----------- */
main {
  display:flex;
  height:100%;
  background-color:#f3f6f7;
}

h3 {
  font-size:.9em;
  margin:6px;
}

.list__section__container {
  width:75%;
}

.inactive__card {
  display:flex;
  flex-flow: column;
  border:1px solid #c7d3d8;
  color:#1f1f3d;
  width:300px;
  margin:20px;
}

.card__header {
  border-bottom:1px solid #c7d3d8;
  height:30px;
}

.card__footer {
  display:flex;
  justify-content: space-between;
  height:30px;
  border-top: solid 1px #c7d3d8;
  padding:4px
}

/* ------------- Aside ---------- */
aside {
  background-color:#59798B;
  width:350px;
}

form{
  margin:8px
}

label {
  font-weight:400;
  margin-bottom:4px;
  font-size:.8em;
  color: #c7d3d8;
}

.aside__form--input{
  display:flex;
  flex-direction:column;
  margin-top:50px;
}

.input__aside--task {
  height:30px;
  width:100%;
}

.input__task__item {
  display:inline-flex 
}

.btn__aside__task--append {
  height:30px
}

.btn__aside--task {
  background-color:#1f1f3d;
  color:#ffffff;
  height:30px;
}

.task__p-input {
  color:#ffffff;
}

.task__item {
  list-style-type: none;
  display:flex;
  width:20px;
}

.task__title__wrapper {
  display:flex; 
  justify-content:center;
  height:30px;
  margin-top:10px
}

.input__aside--title {
  width:100%;
}
